.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 88px;
  transition: filter 1s ease-in-out;
  animation: fadeToSmoke 3s forwards;
}

.smokeContainer {
  position: absolute;
  width: 300px;
  height: 300px;
}

.smoke {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 1);
  opacity: 0;
  border-radius: 50%;
  filter: blur(30px);
  mix-blend-mode: screen;
}

@keyframes fadeToSmoke {
  0% {
    filter: grayscale(0%) blur(0px);
    opacity: 1;
  }
  100% {
    filter: grayscale(100%) blur(10px);
    opacity: 0;
  }
}

@keyframes riseSmoke {
  0% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 0.2;
  }
  50% {
    transform: translateX(-50px) translateY(-100px) scale(1.8);
    opacity: 0.6;
  }
  100% {
    transform: translateX(-100px) translateY(-200px) scale(2);
    opacity: 0;
  }
}

.smoke:nth-child(1) {
  animation: riseSmoke 3s ease-in-out 1;
  left: 60%;
  top: 10%;
}

.smoke:nth-child(2) {
  animation: riseSmoke 3s ease-in-out 1;
  left: 30%;
  top: 10%;
  animation-delay: 0.5s;
}

.smoke:nth-child(3) {
  animation: riseSmoke 3s ease-in-out 1;
  left: 30%;
  bottom: 10%;
  animation-delay: 1s;
}

.smoke:nth-child(4) {
  animation: riseSmoke 3s ease-in-out 1;
  left: 60%;
  bottom: 10%;
  animation-delay: 1.5s;
}
